body{

  background: #04688a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}
button{
  cursor: pointer;
}
.App{
  background: beige;
  padding: 20px;
  width: 300px;
  text-align: center;
}
.todoForm{
  width: 100%;

}
.input-and-btn{
  display: flex;
}
.todoForm input{
  width: 100%;
  height: 30px;
  font-style: italic;
color: #0a3d4e;
outline: 1px solid orange;
font-weight: bold;
}
.btnAdd{
  background: #04688a;
  border: 1px solid #04688a;
  outline: none;
  color: white;
  margin-left: 3px;
}
.btnDelete{
  background: #04688a;
  border: 1px solid #04688a;
  outline: none;
  color: white;
  height: 30px;
  border-radius: 2px;
  width: 130px;
  text-align: center;
  
}
.btnCompare{
  border: 1px solid yellow;
  outline: none;
  color: black;
  height: 30px;
  border-radius: 2px;
  width: 130px;
  text-align: center;

}
.compare{
  z-index: 999;
  position: absolute;
  top: -10px;
  left: 20px
}
.btnsDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  position: relative
}
.todo{
  display: flex;
  align-items: center;
  padding: 0px 3px;
  height: 40px;
  border: 1px solid grey;
  margin-top: 6px;
  border-radius: 4px;
  justify-content: space-between;

}
.actions-part span{
  cursor: pointer;
}
.content{
  display: flex;

}
.cancel{
  margin-left: 17px;
}